@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --dark: #354259;
  --darkigh: #48597585;
  --brown: #cdc2ae;
  --gold: #ece5c7;
  --green: #c2ded1;
  --dgreen: #97aca2;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  background: var(--dark);
  background-image: url(/image/Background.4.png);
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}



.container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Add this line to horizontally center the form */
}

.signin-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--darkigh);
  margin: 0 auto; /* Update this line to center the form horizontally */
}

.signin-form h2 {
  font-size: 24px;
  color: var(--gold);
  text-align: auto;
}


.signin-form input[type="text"],
.signin-form input[type="password"],
.signin-form input[type="submit"] {
  padding: 12px;
  margin: 10px;
  border: 2px solid var(--dark);
  border-radius: 5px;
  color: var(--gold);
  background-color: var(--dark);
}

.signin-form input[type="submit"] {
  width: 200px;
}

.signin-form input::placeholder {
  color: var(--gold);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  padding-right: 5%;
  bottom: 15%;
  background-color: transparent;
  }
  
  .nav a {
  color: var(--gold);
  font-size: 30px;
  text-decoration: none;
  transition: 0.5s;
  }
  
  .nav a:hover {
  color: var(--dgreen);
  transform: scale(1.06);
  }

  @media only screen and (max-width: 768px) {
    .nav {
      display: none;
      }
  }