@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
--dark: #354259;
--darkigh: #48597585;
--brown: #cdc2ae;
--gold: #ece5c7;
--green: #c2ded1;
--dgreen: #97aca2;
}

html {
scroll-behavior: smooth;
}

body {
margin: 0;
font-size: 12px;
font-family: "Nunito", sans-serif;
background: var(--dark);
background-image: url(Background.4.png); 
background-attachment: fixed;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--brown);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gold);
}

.nav {
display: flex;
flex-direction: column;
align-items: flex-end;
position: fixed;
right: 0;
padding-right: 5%;
bottom: 15%;
background-color: transparent;
}

.nav a {
color: var(--gold);
font-size: 30px;
text-decoration: none;
transition: 0.5s;
}

.nav a:hover {
color: var(--dgreen);
transform: scale(1.06);
}

.social {
padding-top: 30px;
font-size: 30px;
text-decoration: none;
}

.social i {
color: var(--gold);
}

.social-mobile {
padding-top: 30px;
font-size: 30px;
text-decoration: none;
}

.social-mobile i {
color: var(--gold);
}

.links {
padding: 3px;
}

.links :hover {
color: var(--dgreen);
}

.intro {
display: flex;
flex-direction: column;
align-items: flex-start;
padding-left: 15%;
padding-top: 5%;
min-height: 100vh;
}

.intro-title {
font-size: 86px;
color: var(--green);
}

.intro-title .text-wrapper {
position: relative;
display: inline-block;
padding-top: 0.2em;
padding-right: 0.05em;
padding-bottom: 0.1em;
overflow: hidden;
}

.intro-title .letter {
transform-origin: 0 100%;
display: inline-block;
line-height: 1em;
}

.name {
color: var(--gold);
}

.intro-sub {
margin-top: -65px;
font-size: 35px;
color: var(--green);
}

.intro-desc {
font-size: 22px;
max-width: 70%;
text-align: justify;
padding-bottom: 50px;
margin-top: -20px;
color: var(--dgreen);
}

.intro object {
max-width: 350px;
}

object {
  overflow-clip-margin: content-box !important;
  overflow: clip !important;
  overflow-x: none;
  overflow-y: none;
}

svg:root {
  width: 100%;
  height
  : 100%;
}

.img-desc {
display: flex;
flex-direction: row;
}

.man {
margin-top: 5%;
margin-right: 20%;
}

.intro-contact {
text-decoration: none;
color: var(--gold);
font-size: 25px;
font-weight: bolder;
padding: 15px 30px;
cursor: pointer;
border: 3px solid var(--gold);
border-radius: 20px;
}

.intro-contact:hover {
color: var(--dgreen);
border: 3px solid var(--dgreen);
transition: 0.6s;
transform: scale(1.06);
}

.container {
display: flex;
flex-direction: row;
}

.about-me {
padding-top: 5px;
padding-left: 15%;
padding-right: 20%;
min-height: 60vh;
}

#about h1:after {
content: "";
display: block;
width: 300px;
margin-top: 40px;
height: 1px;
margin-left: 20px;
background-color: var(--darkigh);
}

.about-me h1 {
display: flex;
padding-bottom: 32px;
font-size: 46px;
font-weight: 700;
color: var(--gold);
}

.about-me a {
text-decoration: none;
color: var(--gold);
font-weight: 32px;
}

#stack {
padding-top: 20px;
list-style: none;
display: grid;
grid-template-columns: repeat(2, minmax(180px, 10px));
}

.tech-stack {
list-style: none;
}

.tech-stack li {
position: relative;
padding-left: 20px;
font-size: 18px;
color: var(--gold);
}

.tech-stack li::before {
content: "▹ ";
color: var(--gold);
  position: absolute;
  left: 0;
}

#job-desc li {
color: var(--dgreen);
font-size: 21px;
text-align: justify;
}

/* Image div */
.face {
padding-left: 40px;
}

/* Actual Image */
.baki img {
max-width: 300px;
height: auto;
border-radius: 10px;
margin-left: 30px;
box-shadow: 6px 13px 23px -5px rgb(0 0 0 / 46%);
border: none;
transition: 0.5s;
}

.baki img:hover {
transform: scale(1.03);
}

/* About me description */
.container p {
font-size: 21px;
color: var(--dgreen);
text-align: justify;
margin: 0;
max-width: 600px;
}

#experience {
margin-top: 50px;
}

#experience h1::after {
content: "";
display: block;
width: 300px;
margin-top: 40px;
height: 1px;
margin-left: 20px;
background-color: var(--darkigh);
}

#date {
color: var(--brown);
}

.exptitle {
color: var(--gold);
padding-bottom: 20px;
max-width: 800px;
font-size: 13px;
}

.card-grid {
display: grid;
grid-template-columns: repeat(3, minmax(300px, 1fr));
grid-gap: 15px;
}

.card {
display: flex;
padding: 2rem 1.75rem;
flex-direction: column;
position: relative;
background-color: var(--darkigh);
border-radius: 15px;
transition: 0.5s;
}

.card:hover {
transform: scale(1.04);
}

.card-header {
margin-top: -20px;
display: flex;
padding: 1.25em 0 !important;
flex-direction: row;
justify-content: space-between;
border-bottom: none !important;
}

.card-title {
color: var(--gold);
font-size: 24px;
font-weight: 700;
margin-bottom: 10px;
}

.card-desc {
color: var(--brown);
font-size: 18px;
padding-bottom: 40px;
}

.card-tech {
color: var(--dgreen);
font-size: 16px;
position: absolute;
padding-bottom: 20px;
padding-right: 10px;
bottom: 0;
padding-top: 10px;
}

.folder-icon {
font-size: 30px;
color: var(--green);
}

#external-links a {
font-size: 20px;
padding: 3px;
color: var(--gold);
}

#external-links a:hover {
color: var(--green);
}

.contact-box {
width: 70%;
}

#contact-me {
margin: unset;
}

form {
margin-top: 5em;
background-color: var(--darkigh);
display: flex;
flex-direction: column;
padding: 20px;
border-radius: 15px;
}
input,
textarea,
#contact-btn {
padding: 12px;
margin: 10px;
border: 2px solid var(--dark);
border-radius: 5px;
color: var(--gold);
background-color: var(--dark);
}

#contact-btn {
width: 200px;
}

#contact-btn:hover {
background-color: var(--gold);
color: #354259;
}

input::placeholder {
color: var(--gold);
}

textarea::placeholder {
color: var(--gold);
}

.footer {
display: flex;
flex-direction: column;
text-align: center;
padding-top: 100px;
justify-content: center;
color: var(--gold);
font-size: 15px;
}

.footer a {
text-decoration: none;
color: var(--green);
}

@media only screen and (max-width: 768px) {
.man {
display: none;
}

.nav {
display: none;
}

.face {
display: none;
}

.baki { 
display: none;
}

.intro {
min-height: unset;
padding-left: unset;
margin: 0;
align-items: center;
}

.intro-title {
font-size: 40px;
text-align: center;
}

.intro-sub {
margin-top: -30px;
text-align: center;
}

.intro-desc {
font-size: 18px;
text-align: center;
max-width: 100%;
}

.tech-stack {
padding: unset;
}

#stack {
padding: 0;
grid-template-columns: repeat(2, minmax(120px, 10px));
}

#job-desc li {
font-size: 20px;
text-align: left;
}

.everything {
padding: 10px;
width: 95%;
}

.about-me {
padding-top: 25px;
padding-left: 5%;
padding-right: 5%;
}

.about-me h1 {
font-size: 25px;
padding-bottom: unset;
}

#about h1:after {
display: none;
}

#contact-btn {
width: unset;
}
}

@media (min-width: 769px) {
.social-mobile {
display: none;
}
}

@media (max-width: 1080px) {
.card-grid {
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
grid-gap: 10px;
}
.contact-box {
width: 100%;
}
}

#thanks {
background-color: var(--darkigh);
padding: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  width: 50%;
border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#thanks p {
font-size: 28px;
text-align:center;
}

.items{
font-size: 22px;
}

.setup_discord {
  font-size: 22px;
}

.about-me a {
text-decoration: none;
color: var(--gold);

}

a:-webkit-any-link {
cursor:pointer;
}

div {
display:block;
}

.Xero{
  color: #ece5c7;
  font-size: 19px;
}

.Xero:hover {
  color: #97aca2;
  transform: scale(1.06);
  translate: 0.7s;
}

.baki img {
  max-width: 300px;
  height: auto;
  border-radius: 40px;
  margin-left: 50px;
  box-shadow: -12px 2px 23px -5px #0a0806c0;
  border: none;
  transition: 1.30s;
}