  @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #ff306a;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #00ffa8;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --twhite:#deebffe0;
    --dwhite:#a0abbae0;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #00ffaa9f;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #ff306a;
    --light: #f8f9fa;
    --dark: #0a121a;
    --darkigh:#1b253042;
    --hover-darkigh:#243141a8;
    }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    font-size: 12px;
    font-family: "Nunito", sans-serif;
    background: var(--dark);
    background-image: url(/Images/background/wall\ paper.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body::before {
    content: "";
    background-color: #030608;
    opacity: 0.7;  /* Increase the opacity for a darker overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* To ensure the overlay is behind the content */
  }

  .profile-container {
    display: flex;
    align-items: center;
  }

  .profile-image {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 200px; 
    margin-top: 50px; 
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.514);
  }

  #profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    border-radius: 50%;
  }

  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-image input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  .uniteddb-icon {
    display: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .profile-details {
    text-align: right;
    margin-right: 20px; /* Adjust the margin as needed */
    margin-top: 20px; /* Adjust the margin as needed */
    pointer-events: none;
  }

  .name {
    font-size: 30px;
    font-weight: bold;
    color: var(--yellow);
    text-shadow: 0 0 5px var(--yellow);
    display: inline-block; 
    text-align: right;
    margin-left: 20px;
    pointer-events: none;
    text-shadow: 0 0 10px rgba(255, 187, 0, 0.7);
  animation: nameGlowAnimation 1s infinite alternate;
  user-select: none;
  }

  .Owner-svg {
    top: 5px;
    left: 5px;
    position: relative;
    display: inline-block;
    user-select: none;
  }

  .Owner-text {
    position: absolute;
    top: -18px; /* Adjust the distance from the icon */
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: var(--dwhite);
    opacity: 0; /* Initially hide the text with opacity */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
    pointer-events: none; /* Prevent interaction with the text */
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.185); /* Creates a strong outline around the text */
    text-stroke: 2px black; /* For non-WebKit browsers */
}

  .Owner-svg:hover .Owner-text {
    opacity: 1; /* Show the text when .Owner-svg is hovered */
  }


  @keyframes nameGlowAnimation {
      0% {
        text-shadow: 0 0 10px rgba(255, 187, 0, 0.658);
      }
      100% {
        text-shadow: 0 0 20px rgba(255, 187, 0, 0.192); /* You can adjust the size and color here */
      }
}
     
.job-position {
  position: relative;
  top:30px;
  right: 140px;
  font-size: 13px;
  color: var(--dwhite);
  display: flex; /* Changed to flex for proper alignment with the icon */
  align-items: center; /* Center items vertically */
  margin-left: 20px; /* Adjust space between the icon and text */
}

.code-svg {
  position: relative;
  font-size: 9px;
  top: 22px;
  right: 135px;
  display: inline-block; /* Ensure it can be positioned properly */
  margin-right: 8px; /* Space between the SVG icon and the text */
}

.code-svg svg {
  width: 2em; /* Set a width for the SVG */
  height: 2em; /* Set a height for the SVG */
  color: var(--dwhite); /* Set the color for the SVG */
}



     

  


  @media only screen and (max-width: 768px) {
    .profile-image {
      top: 50px; /* Adjust the top position as needed */
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
    }

    .name {
      position: absolute;
      top: 150px; /* Adjust the top position as needed */
      left: 50%; /* Move the left edge to the center of the container */
      transform: translateX(-50%); /* Shift it back by 50% of its own width to center it */
      text-align: center;
      margin: 0;
      width: fit-content; /* Only take up as much space as needed for the text */
    }
    
    .Owner-svg {
      position: absolute;
      top: 10rem; /* Adjust this based on how far below "Hamza" you want the icon */
      left: calc(50% + 50px); /* Offset the icon to the right of "Hamza" */
      transform: translateX(0); /* No need for centering now */
      text-align: center;
      margin: 0;
      width: fit-content;
    }

    .name-icon {
      display: inline-block;
      vertical-align: middle;
    }

    .name h1 {
      font-size: 16px; /* Adjust the font size as needed */
    }

    .name-icon-container {
      margin-top: 10px;
      position: relative;
      width: fit-content;
      left: 50%;
      transform: translateX(-50%);
    }

    .Owner-text {
      display: inline-block;
      font-size: 12px;
      vertical-align: middle;
      margin-left: 5px;
    }

    .Owner-text {
      font-size: 12px;
      left: 25%;
    }

    .profile-title {
      text-align: center;
      margin-top: 10px;
    }

    .profile-title span {
      font-size: 14px; /* Adjust the font size as needed */
      margin-left: 10px; /* Adjust the margin as needed */
    }

    .job-position {
      position: absolute;
      top: 185px; /* Adjust the top position as needed */
      left: 51%; /* Move the left edge to the center of the container */
      transform: translateX(-50%); /* Shift it back by 50% of its own width to center it */
      margin: 0;
      width: fit-content;
      white-space: nowrap; /* Prevents text from breaking into multiple lines */
      font-size: 12px; /* Fixed font size */
    }
  
  
    .code-svg {
      position: absolute;
      font-size: 7px;
      top: 187px; /* Adjust this based on how far below "Hamza" you want the icon */
      left: calc(52% + 50px); /* Offset the icon to the right of "Hamza" */
      transform: translateX(0); /* No need for centering now */
      text-align: center;
      margin: 0;
      width: fit-content;
    }


  }



  /*profile table side*/ 
  .year-calendar {
    display: flex;
    flex-wrap: wrap;
  }

  .month {
    margin: 20px;
  }

  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 days a week */
  }

  .day {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: #ddd; /* Off state */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .day.active {
    background-color: green; /* Active state */
  }
