@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --dark: #354259;
  --darkigh: #48597585;
  --brown: #cdc2ae;
  --gold: #ece5c7;
  --green: #c2ded1;
  --dgreen: #97aca2;
}


body {
    margin: 0;
    font-size: 12px;
    font-family: "Nunito", sans-serif;
    background: var(--dark);
}

body.signup-page {
    background: url("/image/Background.4.png") center/cover no-repeat;
    background-color: var(--dark);
  }
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
  margin: auto;
  padding: 25px;
  max-width: 400px;
  background-color: var(--darkigh);
  border-radius: 25px;
}

.signup-form h2 {
  color: var(--gold);
  font-size: 25px;
  margin-bottom: 60px;
}

.signup-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid var(--dark);
  border-radius: 10px;
  color: var(--gold);
  background-color: var(--dark);
}

.signup-form input[type="submit"] {
  background-color: var(--gold);
  color: #354259;
  cursor: pointer;
}

.signup-form p {
  color: var(--gold);
  font-size: 14px;
}

.signup-form a {
  color: var(--dgreen);
}

.signup-form a:hover {
  color: var(--gold);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  padding-right: 5%;
  bottom: 15%;
  background-color: transparent;
  }
  
  .nav a {
  color: var(--gold);
  font-size: 30px;
  text-decoration: none;
  transition: 0.5s;
  }
  
  .nav a:hover {
  color: var(--dgreen);
  transform: scale(1.06);
  }

  @media only screen and (max-width: 768px) {
    .nav {
      display: none;
      }
  }